.signin-whole{
    font-family: 'Impact';   
    display: block;
    text-align: center;
    padding: 2rem 0rem;

}

.signin-form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    color: white;
    padding: 5px;
    height: 500px;
    width: 320px;
}

.signin-form h1{
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

.signin-form input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    position: relative;
    outline: 0;
    width: 100%;
    
}

.signin-form button{
    background-color: rgb(64, 65, 66);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    width: 105%;   
}

.signin-form select{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    outline: 0;
    width: 105%;
    
}

.signin-form_body-input{
    margin: 1rem 0rem;
}

.signin_form-addition{
    margin: 1rem 0rem;
}
